@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html {
    scroll-behavior: smooth;
  }

  body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  .container{
    margin: 0px 16px;
  }

  .top-bar{
    display: flex;
    justify-content: space-between;
    padding: 4px 0px;
  }

  .logo-hamburger-youtube-logo{
    display: flex;
  }

  .search-container{
    display: flex;
  }

  .search-icon-voice{
    display: flex;
    align-items: center;
  }
  
  .mast-head{
    display: flex;
    align-items: center;
  }

  .icon{
    width: 24px;
    height: 24px;
    padding: 8px;
  }

  .youtube-logo{
    width: 90px;
    height: 20px;
    padding: 18px 16px;
  }

  .search-bar{
    display: flex;
    align-items: center;
  }

  .search-bar img{
    width: 24px;
    height: 24px;
  }

  .search{
    padding: 8px 167px 8px 16px;
    border-radius: 30px 0px 0px 30px;
    border: 0.5px solid gainsboro;
  }

  .voice-search{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: gainsboro;
  }

  .voice-search img{
    width: 24px;
    height: 24px;
  }

  .create-notification-profile-icon{
    display: flex;
  }

  .all-selections-dynamic{
    display: flex;
  }

  .side-bar-middle-bar-mix{
    display: flex;
  }

  .all{
    padding: 0px 8px;
    white-space: nowrap;
  }

  .all p{
    margin: 0px;
    padding: 8px;
    background-color: #efefef;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  .side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }


  .icons{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icons p{
    font-size: small;
  }

  .home{
    padding: 24px 16px;
  }

  .icons img{
    width: 24px;
    height: 24px;
  }

 